<div class="container-fluid">
    <div class="row" >
        <div class="col-xs-12 well">
            <h2 class="text-center">La première plateforme de travail par et pour les étudiants en PACES</h2>
            <div class="col-sm-8 col-sm-offset-2">
                <div class="col-sm-6">
                    <a href="seller" class="btn btn-blue btn-block btn-lg">J'ai réussi ma PACES<br/>JE M'INSCRIS en tant que VENDEUR</a>
                </div>
                <div class="col-sm-6">
                    <a href="signin" class="btn btn-success btn-block btn-lg">Je suis en PACES<br/>JE M'INSCRIS</a>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <img src="http://www.paces-store.fr/landing/img/PACES-Store-schema.png" class="img-responsive center-block" />
        </div>
        <div class="col-xs-12 well">
            <h2 class="text-center">La première plateforme de travail par et pour les étudiants en PACES</h2>
            <div class="col-sm-8 col-sm-offset-2">
                <div class="col-sm-6">
                    <a href="seller" class="btn btn-blue btn-block btn-lg">J'ai réussi ma PACES<br/>JE M'INSCRIS en tant que VENDEUR</a>
                </div>
                <div class="col-sm-6">
                    <a href="signin" class="btn btn-success btn-block btn-lg">Je suis en PACES<br/>JE M'INSCRIS</a>
                </div>
            </div>
        </div>
    </div>
</div>