<div class="container-fluid">
    <div class="row" >
        <div class="col-xs-12 well">
            <h2 class="text-center">La première plateforme de travail par et pour les étudiants en PACES</h2>
            <div class="col-lg-2 col-lg-offset-5 col-md-4 col-md-offset-4">
                <a href="seller" class="btn btn-primary btn-lg btn-circle center-block">Je m'inscris  <i class="fa fa-magic"> </i></a>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="well">
                <img src="http://www.paces-store.fr/landing/img/PACES-Store-schema.png" class="img-responsive" />
            </div>
        </div>
        <div class="col-xs-12 well">
            <h2 class="text-center">La première plateforme de travail par et pour les étudiants en PACES</h2>
            <div class="col-lg-2 col-lg-offset-5 col-md-4 col-md-offset-4">
                <a href="seller" class="btn btn-primary btn-lg btn-circle center-block">Je m'inscris  <i class="fa fa-magic"> </i></a>
            </div>
        </div>
    </div>
</div>