h1 page de checkout baby ! 
form(method="POST" action="/checkout/payWithNewCard")
	input(type="text" name="cardNumber" placeholder="Numéro de carte")
	input(type="text" name="cardExpirationDateMonth" placeholder="Mois")
	input(type="text" name="cardExpirationDateYear" placeholder="Année")
	input(type="text" name="cardCvx" placeholder="Code")
	input(type="submit" value="Payer")