<div class="signInContainer container">
	<div class="row">
            <div class="col-md-12 ">
                <h1 class="text-center">Une erreur s'est produite !</h1>
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="card card-container">
                        <h2>Vous allez être redirigé vers la page d'accueil dans <span class="count">5</span> secondes...</h2>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
    </div>
</div>
{{#content "registerBottomScripts"}}
<script src="/js/error.js"></script>
{{/content}}