  core-scaffold
    core-header-panel(navigation flex mode="waterfall-tall")
      core-toolbar(id="navheader")
        span PACES Store
      core-menu
        core-item(label="One")
        core-item(label="Two")
    span(tool) Title

    div(class="content")
        span If drawer is hidden, press button to display drawer.