<div class="container">
            <!-- Start Search Section  -->
            <div id="search-section">
                <div class="row">
                    <div class="span12">
                        <form action="" class="form-inline" >
                            <input type="text" class="span5 search-input" id="search" data-provide="typeahead" placeholder="Search by Keyword..." data-items="4" />  
                            <input type="text" class="span5 search-input" id="search2" data-provide="typeahead" placeholder="Search by Location..." data-items="4" />  
                            <button type="submit" class="btn btn-blue"> Search</button>
                        </form>
                    </div>
                </div>
            </div> 
            <!-- End Search Section  -->
            <!-- Start Left Sidebar  -->
            <div class="row">
                <div class="span3">
                    <div class="sidebar-nav">
                        <div class="base">
                            <ul class="nav nav-list">
                                <li class="nav-header">Categories</li>
                                <li class="active"><a href="#"><div class="fs1" aria-hidden="true" data-icon="&#xe019;"></div>All Deals + Packages</a></li>
                                <li><a href="#">Flights</a></li>
                                <li><a href="#">Hotels</a></li>
                                <li><a href="#">Cruises</a></li>
                                <li><a href="#">Vacations</a></li>
                                <li><a href="#">Car Rentals</a></li>
                                <li class="divider"></li>
                            </ul>
                            <ul class="nav nav-list">
                                <li class="nav-header">Locations</li>
                                <li class="active"><a href="#"><div class="fs1" aria-hidden="true" data-icon="&#xe020;"></div>All Locations</a></li>
                                <li><a href="#">Canada</a></li>
                                <li><a href="#">United States</a></li>
                                <li><a href="#">United Kingdom</a></li>
                                <li><a href="#">Austrailia</a></li>
                                <li><a href="#">Bahamas</a></li>
                                <li class="divider"></li>
                                <li class="nav-header">Price Range</li>
                                <li>
                                    <form class="form-inline">
                                        <input type="text" class="input-small" placeholder="Min">
                                        <input type="text" class="input-small" placeholder="Max">
                                    </form>
                                </li>
                                <li class="divider"></li>
                                <li class="nav-header">Other Options</li>
                                <div class="">

                                    <div class="input-wrapper">
                                        <div class="clearfix prettycheckbox labelright  green"><input type="checkbox" class="prettyCheckable" value="1" id="Test1" name="Test1" data-label=" All Inclusive" style="display: none;">
                                        </div>
                                    </div><div class="input-wrapper">
                                        <div class="clearfix prettycheckbox labelright  green"><input type="checkbox" class="prettyCheckable" value="1" id="Test1" name="Test1" data-label=" Golf Course" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="input-wrapper">
                                        <div class="clearfix prettycheckbox labelright  green"><input type="checkbox" class="prettyCheckable" value="1" id="Test1" name="Test1" data-label="Adults Only" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="input-wrapper">
                                        <div class="clearfix prettycheckbox labelright  green"><input type="checkbox" class="prettyCheckable" value="1" id="Test1" name="Test1" data-label="Beachfront" style="display: none;">
                                        </div>
                                    </div>
                                    <div class="input-wrapper">
                                        <div class="clearfix prettycheckbox labelright  green"><input type="checkbox" class="prettyCheckable" value="1" id="Test1" name="Test1" data-label="Wedding" style="display: none;">
                                        </div>
                                    </div>
                                    <li class="divider"></li>
                                    <div class="input-wrapper">
                                        <li class="nav-header">Deal Hunter</li> <div class="clearfix prettyradio labelright margin-right blue"><input type="radio" class="prettyCheckable" value="yes" name="colors" data-label="Yes" data-customclass="margin-right" style="display: none;" checked="checked">
                                        </div>
                                        <div class="clearfix prettyradio labelright  blue"><input type="radio" class="prettyCheckable" value="no" name="colors" data-label="No" style="display: none;">
                                        </div>
                                    </div>
                                    <hr>
                                    <div id="other-colors" class="hide" style="display: block;">
                                        <div class="input-wrapper">
                                            <div class="input-wrapper">
                                                <div class="clearfix prettycheckbox labelright  blue"><input type="checkbox" class="prettyCheckable" value="1" id="color1" checked="" name="color1" data-label="Cruises" style="display: none;">
                                                </div>
                                            </div>

                                            <div class="input-wrapper">
                                                <div class="clearfix prettycheckbox labelright  green"><input type="checkbox" class="prettyCheckable" value="1" id="color2" checked="" name="color2" data-label="Flights" data-color="&quot;green&quot;" data-color="green" style="display: none;">
                                                </div>
                                            </div>

                                            <div class="input-wrapper">
                                                <div class="clearfix prettycheckbox labelright  red"><input type="checkbox" class="prettyCheckable" value="1" id="color3" checked="" name="color3" data-label="Car Rentals" data-color="&quot;red&quot;" data-color="red" style="display: none;">
                                                </div>
                                            </div>

                                            <div class="input-wrapper">
                                                <div class="clearfix prettycheckbox labelright  yellow"><input type="checkbox" class="prettyCheckable" value="1" id="color4" checked="" name="color4" data-label="Hotels" data-color="&quot;yellow&quot;" data-color="yellow" style="display: none;">
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Left Sidebar  -->
                <!-- Start Right Section  -->
                <div class="span9">
                    <ul class="thumbnails">
                        <li class="span3">
                            <div class="thumbnail">
                                <span>$450/wk</span>
                                <img data-src="holder.js/300x200" alt="300x200" style="width: 300px; height: 200px;" src="/img/h-6.jpg">
                                <div class="caption">
                                    <h3>Thumbnail label</h3>
                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                </div>
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <span>$350/wk</span>
                                <img data-src="holder.js/300x200" alt="300x200" style="width: 300px; height: 200px;" src="/img/h-5.jpg">
                                <div class="caption">
                                    <h3>Thumbnail label</h3>
                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                </div>
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <span>$1275/wk</span>
                                <img data-src="holder.js/300x200" alt="300x200" style="width: 300px; height: 200px;" src="/img/h-4.jpg">
                                <div class="caption">
                                    <h3>Thumbnail label</h3>
                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                </div>
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <span>$800/wk</span>
                                <img data-src="holder.js/300x200" alt="300x200" style="width: 300px; height: 200px;" src="/img/h-3.jpg">
                                <div class="caption">
                                    <h3>Thumbnail label</h3>
                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                </div>
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <span>$800/wk</span>
                                <img data-src="holder.js/300x200" alt="300x200" style="width: 300px; height: 200px;" src="/img/h-2.jpg">
                                <div class="caption">
                                    <h3>Thumbnail label</h3>
                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                </div>
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <span>$800/wk</span>
                                <img data-src="holder.js/300x200" alt="300x200" style="width: 300px; height: 200px;" src="/img/h-1.jpg">
                                <div class="caption">
                                    <h3>Thumbnail label</h3>
                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                </div>
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <span>$800/wk</span>
                                <img data-src="holder.js/300x200" alt="300x200" style="width: 300px; height: 200px;" src="/img/h-6.jpg">
                                <div class="caption">
                                    <h3>Thumbnail label</h3>
                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                </div>
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <span>$800/wk</span>
                                <img data-src="holder.js/300x200" alt="300x200" style="width: 300px; height: 200px;" src="/img/h-5.jpg">
                                <div class="caption">
                                    <h3>Thumbnail label</h3>
                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                </div>
                            </div>
                        </li>
                        <li class="span3">
                            <div class="thumbnail">
                                <span>$800/wk</span>
                                <img data-src="holder.js/300x200" alt="300x200" style="width: 300px; height: 200px;" src="/img/h-3.jpg">
                                <div class="caption">
                                    <h3>Thumbnail label</h3>
                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                </div>
                            </div>
                        </li>          
                    </ul>
                    <p><button type="submit" class="btn btn-large btn-block btn-blue" data-original-title=""> Load More</button></p>
                </div>
            </div>
            <!-- End Right Section  -->
        </div>