html
  script(src="/polymer/webcomponentsjs/webcomponents.js")
  link(rel="stylesheet" href="/css/global.css")
  link(rel="import" href="/polymer/polymer/polymer.html")
  link(rel="import" href="/polymer/font-roboto/roboto.html")
  link(rel="import" href="/polymer/core-scaffold/core-scaffold.html")
  link(rel="import" href="/polymer/core-header-panel/core-header-panel.html")
  link(rel="import" href="/polymer/core-toolbar/core-toolbar.html")
  link(rel="import" href="/polymer/core-menu/core-menu.html")
  link(rel="import" href="/polymer/core-item/core-item.html")
body
    core-drawer-panel(transition id="core_drawer_panel" touch-action)
      section(id="section1" drawer)
      section(id="section2" main)
        core-header-panel(mode="waterfall-tall" id="core_header_panel")
          core-toolbar(id="core_toolbar" class="animate tall")
            div(id="div1" one flex)
            div(id="div") Bienvenue sur PACES Store Polymer Albert
            div(id="div2" one flex)
            core-icon-button(icon="menu" id="menuButton")
          section(id="section")
            h1 Une marketplace qu'elle est bien
  script(type="text/javascript").
      document.addEventListener('polymer-ready', function() {
      var navicon = document.getElementById('menuButton');
      var drawerPanel = document.getElementById('core_drawer_panel');
      navicon.addEventListener('click', function() {
        drawerPanel.togglePanel();
      });
      });