<div class="container">
    <!-- Start Search Section  -->
    {{> searchbar}} 
    <!-- End Search Section  -->
    <!-- Start Left Sidebar  -->
    <div class="row">
        {{> categories}}
        <!-- End Left Sidebar  -->
        <!-- Start Right Section  -->
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    {{#if model.req.body.keywords}}
                    <h4 class='categories-names search-names pull-left'>Resultats de votre recherche "{{model.req.body.keywords}}"</h4>
                    {{else}}
                    <h4 class='categories-names pull-left'>Toutes les fiches</h4>
                    {{/if}}
                    <select filter-element-change="filter-element-change" data-type="sort" id="tri" name="tri" class="selectpicker pull-right" data-header="Selectionner un tri">
                        <option data-icon="glyphicon-star" value="dateDown" {{#ifCond model.req.body '!==' undefined}}{{#ifCond model.req.body.sort '!==' undefined}}{{#ifCond model.req.body.sort '===' "dateDown"}}selected{{/ifCond}}{{/ifCond}}{{/ifCond}}> Les plus récents</option>
                        <option data-icon="glyphicon-sort-by-attributes" value="priceDown" {{#ifCond model.req.body '!==' undefined}}{{#ifCond model.req.body.sort '!==' undefined}}{{#ifCond model.req.body.sort '===' "priceDown"}}selected{{/ifCond}}{{/ifCond}}{{/ifCond}}> Prix croissant</option>
                        <option data-icon="glyphicon-sort-by-attributes-alt" value="priceUp" {{#ifCond model.req.body '!==' undefined}}{{#ifCond model.req.body.sort '!==' undefined}}{{#ifCond model.req.body.sort '===' "priceUp"}}selected{{/ifCond}}{{/ifCond}}{{/ifCond}}> Prix décroissant</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="productList">
                    {{> productListBlock}}
                </div>
            </div>
            <!--<p><button type="submit" class="btn btn-large btn-block btn-blue" data-original-title=""> Load More</button></p>-->
        </div>
    </div>
    <!-- End Right Section  -->
</div>

{{#content "registerTopStylesheets"}}
<link href="/css/productList.css" rel="stylesheet">       
{{/content}}
{{#content "registerBottomScripts"}}
    <script src="/js/globalcart.js"></script>
    <script src="/js/libs/animate.js"></script>
    <script src="/js/productList.js"></script>
    <script src="/js/searchbar.js"></script>
{{/content}}
{{#content "registerMeta"}}
<title>PACES Store - {{model.currentSchool.name}}</title>
{{/content}}
