<div class="container">
    {{> searchbar}} 
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-8 productMainColumn well well-lg">
                <h1>{{model.product.name}} dans la {{model.product.categories}}</h1>
                <div class='col-md-12'>
                    <div class="rating pull-right">
                        <div class="stars starrr pull-left" data-rating="4"></div>
                    </div>
                    <span><strong>Tags: </strong></span>
                    <span class="label label-warning">{{model.product.categories}}</span>
                    <span class="label label-info">{{model.product.university}}</span>
                    <span class="label label-info">Microsoft Office</span>
                    <span class="label label-success">Windows XP, Vista, 7</span>
                </div>
                <div class="col-md-8">
                    <h2>Description détaillée</h2>
                    <p>{{{model.product.description}}}</p>
                </div>    
                <div class="col-md-4">
                    <img data-src="holder.js/300x200" alt="300x200" class="img-responsive" src="/img/h-6.jpg">
                </div>

                <div class="col-md-12">
                    <hr>
                    <h2>Avis</h2>
                    <div id="disqus_thread"></div>
					<script type="text/javascript">
					    /* * * CONFIGURATION VARIABLES * * */
					    var disqus_shortname = 'pacesstore';
					    
					    /* * * DON'T EDIT BELOW THIS LINE * * */
					    (function() {
					        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					    })();
					</script>
					<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                </div>
                
                <div class="col-md-12">
                    <hr>
                    <h2>Ces contenus vous intéressent sûrement</h2>
                </div>
            </div>
            <div class="col-md-4 productMainColumn well well-lg">
                <input type="button" class="btn-lg btn-block btn-success add-to-cart-button" data-product="{{model.product._id}}" value="Commander ({{model.product.price}}€)" />
                <hr>
                <center>
                    <img src="http://www.paradislove.com/img/cms/paiement_securise.gif" class="img-responsive"/>
                </center>
                <hr>
                <center>
                    <img src="https://cdnil0.fiverrcdn.com/photos/3351070/original/fb_profile_jn6-02.jpg" class="img-responsive img-circle">
                    <p>{{model.product.seller}}</p>

                    <p>De : Bordeaux</p>
                    <p>Je suis un mec cool, posé t'as vu</p>
                </center>
            </div>

        </div>
    </div>
</div>

{{#content "registerTopStylesheets"}}
<link href="/css/product.css" rel="stylesheet">  
<link href="/css/libs/bootstrap-dialog.css" rel="stylesheet">       
{{/content}}
{{#content "registerBottomScripts"}}
<script src="/js/product.js"></script>
<script src="/js/searchbar.js"></script>
<script src="/js/libs/bootstrap-dialog.js"></script>
{{/content}}
{{#content "registerMeta"}}
<title>PACES Store - {{model.product.name}}</title>
{{/content}}