<div class="container">
    <!-- Start Search Section  -->
    {{> searchbar}} 
    <!-- End Search Section  -->
    <!-- Start Left Sidebar  -->
    <div class="row">
        {{> categories}}
        <!-- End Left Sidebar  -->
        <!-- Start Right Section  -->
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <select filter-element-change="filter-element-change" data-type="sort" class="selectpicker pull-right">
                        <option value="dateDown" selected> Les plus récents</option>
                        <option value="priceDown"> Prix croissant</option>
                        <option value="priceUp"> Prix décroissant</option>
                    </select>
                </div>
            </div>
            {{> productListBlock}}
            <!--<p><button type="submit" class="btn btn-large btn-block btn-blue" data-original-title=""> Load More</button></p>-->
        </div>
    </div>
    <!-- End Right Section  -->
</div>

{{#content "registerTopStylesheets"}}
    <link href="/css/productList.css" rel="stylesheet">       
{{/content}}
{{#content "registerBottomScripts"}}
    <script src="/js/cart.js"></script>
    <script src="/js/libs/animate.js"></script>
    <script src="/js/productList.js"></script>
{{/content}}
{{#content "registerMeta"}}
    <title>PACES Store - {{model.currentSchool.name}}</title>
{{/content}}