<div class="navbar-product container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="element-navbar-product-first element-navbar-product active vcenter pull-left">
                Présentation
            </div>
            <div class="element-navbar-product vcenter pull-left">
                Description
            </div>
            <div class="element-navbar-product vcenter pull-left">
                Avis
            </div>
            <div class="element-navbar-product vcenter pull-left">
                Autres
            </div>
        </div>
    </div>
</div>
<div class="container-fluid productContainer">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-8 productMainColumn well well-lg">
                <div class="col-md-9">
                    <h1 class="title-navbar-product">{{model.product.name}}</h1>
                    <div class='col-md-12'>
                        <div class="rating">
                            <div class="stars starrr" data-rating="4"></div>
                        </div>
                        <span class="label label-info">{{model.product.categories}}</span>
                        <span class="label label-success">{{model.product.university}}</span>
                    </div>
                    <div class="col-md-12"><i class="glyphicon glyphicon-time"></i> 30 minutes</div>
                </div>
                <div class="col-md-3">
                    <img data-src="holder.js/300x200" alt="300x200" class="img-responsive" src="/img/h-6.jpg">
                </div>
                <div class="col-md-12" id="productDescriptionFull">
                    <h2 class="title-navbar-product">A propos de ce cours</h2>
                    <p>{{{model.product.description}}}</p>
                </div>   

                <div class="col-md-12">
                    <hr>
                    <h2 class="title-navbar-product">Avis</h2>
                    <div id="disqus_thread"></div>
                    <script type="text/javascript">
                        /* * * CONFIGURATION VARIABLES * * */
                        var disqus_shortname = 'pacesstore';

                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function () {
                            var dsq = document.createElement('script');
                            dsq.type = 'text/javascript';
                            dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                </div>

                <div class="col-md-12">
                    <hr>
                    <h2 class="title-navbar-product">Ces contenus vous intéressent sûrement</h2>
                    {{> productListBlock}}
                </div>
            </div>
            <div class="col-md-4 productMainColumn buyZone text-center well well-lg">
                <input type="button" class="btn btn-lg btn-lg2 btn-success checkout-product-button" data-product="{{model.product._id}}" value="Commander ({{model.product.price}}€)" /> 
                <button type="button" class="btn btn-lg btn-lg2 btn-success add-to-cart-button" data-product="{{model.product._id}}"> <i class="glyphicon glyphicon-shopping-cart"></i></button>
                <div class="col-md-12"><p class="text-left">Commandez et recevez ce cours par email au format .pdf immédiatement !</p></div>
            </div>
            <div class="col-md-4 productMainColumn well well-lg">
                <div class="col-md-12">
                    <div class="col-md-3 center"></div>
                    <div class="col-md-6 center">
                        <img src="/img/default-profile.png" class="img-responsive img-circle center">
                    </div>
                    <div class="col-md-3 center"></div>
                </div>
                <div class="col-md-12">
                    <p>{{model.seller.account.displayName}}</p>
                    <p>De : {{model.seller.account.university.name}}</p>
                    <p>{{model.seller.account.description}}</p>
                </div>
            </div>

        </div>
    </div>
</div>

{{#content "registerTopStylesheets"}}
<link href="/css/product.css" rel="stylesheet">         
{{/content}}
{{#content "registerBottomScripts"}}
<script src="/js/product.js"></script>
<script src="/js/searchbar.js"></script>
{{/content}}
{{#content "registerMeta"}}
<title>PACES Store - {{model.product.name}}</title>
{{/content}}