<nav class="navbar-signin">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="col-md-4 element-navbar-signin active vcenter pull-left">
                            Identification
                        </div>
                        {{#if model.displayCheckoutSteps}}
                        <div class="col-md-4 element-navbar-signin vcenter pull-left">
                            Informations de paiement
                        </div>
                        <div class="col-md-4 element-navbar-signin vcenter pull-left">
                            Confirmation de commande
                        </div>
                        {{/if}}
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="signInContainer container-fluid">
	<div class="row">
            <div class="col-md-12 ">
                <h1 class="text-center">Changement de mot de passe</h1>
                <div class="col-md-3"></div>
                <div class="col-md-4">
                    <div class="card card-container">
                        <h2 class="text-center">Saisissez votre nouveau mot de passe</h2>
                        <form action="/changePassword" method="post" class="signinForm">
                            <span id="reauth-email" class="reauth-email"></span>
                            <input type="hidden" name="username" value="{{model.username}}" />
                            <input type="password" id="inputEmail" name="newPassword" class="form-control" placeholder="Mot de passe" required autofocus>
                            <button class="btn btn-lg btn-success btn-block btn-signin signIn" type="submit">Changer</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
    </div>
</div>

{{#content "registerTopStylesheets"}}
    <link href="/css/signIn.css" rel="stylesheet">       
{{/content}}
{{#content "registerBottomScripts"}}
    <script src="/js/forgottenPassword.js"></script>
    <script src="/js/shoppingcart.js"></script>
{{/content}}
{{#content "registerMeta"}}
    <title>PACES Store - Connexion</title>
{{/content}}