<nav class="navbar-signin">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="col-md-4 element-navbar-signin active vcenter pull-left">
                            Identification
                        </div>
                        {{#if model.displayCheckoutSteps}}
                        <div class="col-md-4 element-navbar-signin vcenter pull-left">
                            Informations de paiement
                        </div>
                        <div class="col-md-4 element-navbar-signin vcenter pull-left">
                            Confirmation de commande
                        </div>
                        {{/if}}
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="signInContainer container">
	<div class="row">
            <div class="col-md-12 ">
                <h1 class="text-center">Mot de passe oublié ?</h1>
                <div class="col-md-3"></div>
                <div class="col-md-4">
                    <div class="card card-container">
                        <h2 class="text-center">Saisissez votre email</h2>
                        <form action="/seller/forgottenPassword" method="post" class="signinForm">
                            <span id="reauth-email" class="reauth-email"></span>
                            <input type="email" id="inputEmail" name="username" class="form-control" placeholder="Adresse Email" required autofocus>
                            <button class="btn btn-lg btn-success btn-block btn-signin signIn" type="submit">Envoyer</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="rightButtons-container">
                        <p class="text-center">- OU -</p>
                        <input type="button" class="btn btn-lg btn-primary btn-block btn-signin backToSignIn" data-link="/seller/signIn" value="Retourner à la connexion" />
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
    </div>
</div>

{{#content "registerTopStylesheets"}}
    <link href="/css/signIn.css" rel="stylesheet">       
{{/content}}
{{#content "registerBottomScripts"}}
    <script src="/js/forgottenPassword.js"></script>
    <script src="/js/shoppingcart.js"></script>
{{/content}}
{{#content "registerMeta"}}
    <title>PACES Store - Mot de passe oublié</title>
{{/content}}