
<div class="col-md-9">
    <div class="col-md-12 sellerMainColumn well well-lg">
        <h3>Bienvenue sur votre espace vendeur {{model.seller.account.displayName}}</h3>
        <p>Ajoutez de nouveaux contenus et gagnez de l'argent en quelques clics !</p>
    </div>
    <div class="col-md-12 sellerMainColumn well well-lg">
        <div class="col-md-6">
            <p class="text-center">Ventes totales réalisées : {{model.seller.sellCount}} </p>
        </div>
        <div class="col-md-6">
            <p class="text-center">Solde de votre compte :
                {{model.seller.sellBalance}} €</p>
            {{#if model.withdrawEnabled}}
            <a class="btn btn-danger center-block" href="/seller/withdrawMoney">Transférer mon solde sur mon compte</a>
            {{/if}}
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 sellerMainColumn well well-lg">
            <h3>Activités récentes</h3>
            <table class="table table-bordred table-striped">
                <thead>
                <th>Activité</th>
                <th>Date</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Adrien vient d'achete votre contenu : Produit de test</td>
                        <td>12/07/2015</td>
                    </tr>
                    <tr>
                        <td>Vous venez de vous inscrire ! Bienvenue sur PACES-Store.fr</td>
                        <td>11/07/2015</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{{#content "registerTopStylesheets"}}
<link href="/css/seller.css" rel="stylesheet">         
{{/content}}
{{#content "registerBottomScripts"}}
<script src="/js/seller.js"></script>
<script src="/js/searchbar.js"></script>
{{/content}}
{{#content "registerMeta"}}
<title>PACES Store - Espace vendeur</title>
{{/content}}