<form method="POST" id="productForm" enctype="multipart/form-data" class="col-md-8 col-sm-8 well well-lg" action="/seller/saveProduct">
    {{#if model.product._id}}
    <h3>Modifier un produit</h3>
    {{else}}
    <h3>Ajouter un produit</h3>
    {{/if}}
    <input type="button" value="Annuler" class="btn btn-default pull-right" />
    <input type="submit" value="Enregistrer" class="btn btn-success pull-right" />
    <div class="clearfix"></div>
    <div class="col-md-8">
        <input type="hidden" name="_id" value="{{model.product._id}}"/>
        <label for="name">Nom du produit</label>
        <input type="text" name="name" value="{{model.product.name}}" class="form-control" required/>
        <div class="clearfix"></div>
        <label for="price">Prix</label>
        <input name="price" type="number" min="1" max="100" value="{{model.product.price}}" class="form-control" step="0.5" required/>
        <div class="clearfix"></div>
        <label for="description">Description</label>
        <textarea name="description" class="form-control" required>{{model.product.description}}</textarea>
        <div class="clearfix"></div>
        <label for="time" class="center-block">Temps moyen pour faire l'exercice</label>
        <select name="time" class="selectpicker show-tick" data-style="btn-default form-control">
            <option value="5" {{#ifCond model.product.time "==" "5"}}selected="selected"{{/ifCond}}>5 minutes</option>
            <option value="10" {{#ifCond model.product.time "==" "10"}}selected="selected"{{/ifCond}}>10 minutes</option>
            <option value="15" {{#ifCond model.product.time "==" "15"}}selected="selected"{{/ifCond}}>15 minutes</option>
            <option value="20" {{#ifCond model.product.time "==" "20"}}selected="selected"{{/ifCond}}>20 minutes</option>
            <option value="30" {{#ifCond model.product.time "==" "30"}}selected="selected"{{/ifCond}}>30 minutes</option>
            <option value="45" {{#ifCond model.product.time "==" "45"}}selected="selected"{{/ifCond}}>45 minutes</option>
        </select>
        <div class="clearfix"></div>
        <label for="university" class="center-block">Université</label>
        <select name="university" class="selectpicker show-tick center-block" data-style="btn-default form-control">
            {{#each model.schools}}
            {{#if this.selected}}
            <option value="{{this.universityId}}" selected="selected">{{this.name}}</option>
            {{else}}
            <option value="{{this.universityId}}">{{this.name}}</option>
            {{/if}}
            {{/each}}
        </select>
        <div class="clearfix"></div>
        <label for="categories" class="center-block">Catégorie</label>
        <select name="categories" class="selectpicker show-tick center-block" data-style="btn-default form-control">
            {{#each model.categories}}
            {{#if this.selected}}
            <option value="{{this.shortName}}" selected="selected">{{this.name}}</option>
            {{else}}
            <option value="{{this.shortName}}">{{this.name}}</option>
            {{/if}}
            {{/each}}
        </select>
    </div>
    <div class="col-md-4">
        <label for="document">Document pdf</label>
        {{#if model.product.file}}
        <p data-filename="{{model.product.file}}">{{model.product.file}}</p>
        <input type="file" name="productFile" accept="application/pdf" />
        {{else}}
        <p data-filename="Déposez votre fichier .pdf ici">Déposez votre fichier .pdf ici</p>
        <input type="file" required name="productFile" accept="application/pdf" />
        {{/if}}
    </div>
</form>
{{#content "registerTopStylesheets"}}
<link href="/css/seller.css" rel="stylesheet">
{{/content}}
{{#content "registerBottomScripts"}}
<script src="/js/seller.js"></script>
<script src="/js/libs/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
CKEDITOR.replace('description', {
    language: 'fr',
    customConfig: '',
    toolbarGroups: [
        {name: 'document', groups: ['mode', 'document', 'doctools']},
        {name: 'clipboard', groups: ['clipboard', 'undo']},
        {name: 'editing', groups: ['find', 'selection', 'spellchecker']},
        {name: 'forms'},
        {name: 'basicstyles', groups: ['basicstyles', 'cleanup']},
        {name: 'paragraph', groups: ['list', 'indent', 'blocks', 'align', 'bidi']},
        {name: 'links'},
        {name: 'insert'},
        {name: 'styles'},
        {name: 'colors'},
        {name: 'tools'},
        {name: 'others'},
        {name: 'about'}
    ],
    removeButtons: 'Cut,Copy,Paste,Undo,Redo,Anchor,Underline,Strike,Subscript,Superscript',
    removeDialogTabs: 'link:advanced'
});
</script>
{{/content}}
{{#content "registerMeta"}}
<title>PACES Store - Editer un produit</title>
{{/content}}
