include ../layout
.page-content

    section.blog
        .container
            .row
                .col-lg-12.col-md-12.jumbotron
                    h1 Bienvenue sur PACES Store !
                    .post
                        p PACES Store est la première plateforme collaborative et participative de travail, entièrement dédiée à la réussite de la PACES.
                        p PACES Store simplifie l’entre-aide et la transmission de savoir-faire entre les étudiants ayant réussi les concours et les étudiants en PACES. Les premiers participent à la réussite des seconds.
                        p Vous êtes géolocalisé à #{model.position.city}. #{model.school.name}
                        .text-center
                            .btn.btn-success(id="" role="button"  data-list="#{model.school.universityId}")
                                span Accéder aux contenus
                            .btn.btn-warning(id="" role="button" data-opened="false")
                                span Changer d'université
    section.cat-tiles
      div.container
        h2 Les derniers contenus
        div.row
          div.category.col-lg-2.col-md-2.col-sm-4.col-xs-6
            a(href='#')
              img(src='http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png', alt='1')
              p Colle d'anatomie
          div.category.col-lg-2.col-md-2.col-sm-4.col-xs-6
            a(href='#')
              img(src='http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png', alt='1')
              p Colle de biologie cellulaire
          div.category.col-lg-2.col-md-2.col-sm-4.col-xs-6
            a(href='#')
              img(src='http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png', alt='1')
              p Colle d'anatomie
          div.category.col-lg-2.col-md-2.col-sm-4.col-xs-6
            a(href='#')
              img(src='http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png', alt='1')
              p Colle de biologie cellulaire
          div.category.col-lg-2.col-md-2.col-sm-4.col-xs-6
            a(href='#')
              img(src='http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png', alt='1')
              p Colle de biologie cellulaire
          div.category.col-lg-2.col-md-2.col-sm-4.col-xs-6
            a(href='#')
              img(src='http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png', alt='1')
              p Colle d'anatomie
    section.blog
        .container
            .row
                .col-lg-12.col-md-12
                    h3 LA PREMIÈRE PLATEFORME DE TRAVAIL PAR ET POUR LES ÉTUDIANTS EN PACES
                    .post
                        h3 AVANT, S’ENTRAINER À FAIRE DES COLLES, EXERCICES, FICHES ETC. ÉTAIT COUTEUX OU RÉPÉTITIF. MAIS ÇA, C’ÉTAIT AVANT PACES STORE !
                        img.text-center(src="/img/PACES-Store-schema.png")
                        h4.text-center Qui sommes-nous ?
                        p.text-center Elaboré avec <3 par RMP
