.card-container.card {
    width: 350px;
    padding: 40px 40px;
}
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 25px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.checkoutContainer .btn.btn-pay {
    /*background-color: #4d90fe; */
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
}

.checkoutContainer {
    margin-top: 25px;
}
.checkoutContainer .btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
.checkoutForm input,
.checkoutForm button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.halfWidth{
    width: 50% !important;
}

.navbar-signin {
  top: 50px !important;
  position: fixed;
  z-index: 1028;
  background: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);  
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
  width : 100%;
}
.element-navbar-signin:hover {
    cursor: pointer;
}
.element-navbar-signin {
  height: 40px;
  vertical-align: middle;
  color : #c1c1c1;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
.element-navbar-signin.active {
    color : #000000;
    border-bottom: green 3px solid;
}
.element-navbar-signin-first{
  margin-left: 100px;
}