html { height: 100% }
body {
    height: 100%;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    padding-top: 60px;
}
.categories-products > div > label {
    width: 100%;   
    cursor: pointer;
}
#navbar button {
    line-height: 22px;
}
#navbar .btn {
    line-height: 22px;
}
.well-custom{
    background-color: #fafafa;
    border: 1px solid #e8e8e8;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;

}
div#matieres-cat * {
    cursor: pointer !important;
}
.btn {
    cursor: pointer !important;
}
.category-name {
    width: 100%;
    font-size: 15px;
    margin-bottom: 10.5px;
    margin-top: 10.5px;
    font-weight: 300;
    line-height: 1.1;
}
.toggle-active {
    color: #fb5d35;
}
.list-group-item-first {
    margin-top: 0px !important;
}
.btn span.glyphicon {    			
    opacity: 0;				
}
.btn.active span.glyphicon {				
    opacity: 1;				
}

main{
    height: auto !important;
    margin: 0 auto -41px;
    min-height: 100%;
}
.stars
{
    font-size: 21px;
    color: gold;
    float: left;
}
.icon {
    width: 32px;
    height: 32px;
    text-align: center;
    padding: 7px 8px;
    border: 2px solid;
    border-radius: 50%;
}
.content {
    position: relative;
    display: table;
    width: 100%;
    min-height: 100vh;
}

.btn-circle {
    border-radius: 10px;
}
.searchForm {
    line-height: 28px;
    margin-top: 3px;
}
#shoppingcart-button{
    margin-top: 3px;
}
#seller-button {
    margin-top: 3px;
}
.thumbnail-seller {
    /*height: 0px;*/
}
.thumbnail .thumbnail-seller a {
    color: #0e0e0f;
}

.thumbnail:hover .thumbnail-seller {
    /*height: 34px;*/
}
.thumbnail-ue {
    /*height: 34px;*/
}
.thumbnail:hover .thumbnail-ue {
    /*height: 0px;*/
    /*line-height: 0px;*/
}
.stars-sm{
    font-size: 12px;
}
/*.thumbnail:hover .stars-sm {
    display: block;
}*/
.badge-green{
    background-color: #5cb85c;
}
.badge-warning{
    background-color: #fb5d35;
}
.badge-blue {
    background-color: #337ab7;
}
.badge-cart {
    background-color: #43ac6a !important;
}
.thumbnail a {
    text-decoration: none;
}
.modal-dialog{
    z-index: 2000;
}
.bootstrap-dialog .modal-header{
    border-radius: 0 !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.title-list{
    background: #333333;
    color: white;
    font-weight: 300;
    cursor: pointer;
}
.navbar{

}
.badge-warning {
    background-color: #ff9226;
}
.btn-warning{
    background-color: #ff9226;
}
.btn-success {
    background: rgba(0, 0, 0, 0) linear-gradient(#35c350, #03b525) repeat scroll 0 0;
    border: 1px solid #00b22d;
    font-weight: 700;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    font-size: 20px;
}
#carouselHome {
    margin-bottom: 20px;
}
.navbar-brand {
    padding: 0px 0px 0px 15px ;
}
.bootstrap-dialog.type-success .modal-header {
    background: #333333 none repeat scroll 0 0 !important;
}
.bg-grey {
    background-color: #f0f0f0;
}
.carousel-control.left {
    background-image: none;
}
.carousel-control.right {
    background-image: none;
}
.btn {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
}