html, body {
  height: 100%;
  margin: 0;
}
core-header-panel {
  height: 100%;
}
#logo-toolbar{
    height:32px;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
}
#left-drawer,
#left-drawer core-toolbar{
    background: #eee;
}
#left-drawer ::content #dropShadow{
    display: none;
}
#main-panel core-toolbar{
    background: #7986cb !important
}