html { height: 100% }
body {
    height: 100%;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    padding-top: 60px;
}
.categories-products > div > label {
    width: 100%;   
    cursor: pointer;
}
.btn span.glyphicon {    			
    opacity: 0;				
}
.btn.active span.glyphicon {				
    opacity: 1;				
}
.thumbnail-price{
    color: #00b22d;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
}

.stars
{
    font-size: 21px;
    color: gold;
    float: left;
}
.icon {
    width: 32px;
    height: 32px;
    text-align: center;
    padding: 7px 8px;
    border: 2px solid;
    border-radius: 50%;
}
.content {
    position: relative;
    display: table;
    width: 100%;
    min-height: 100vh;
}

.btn-circle {
    border-radius: 10px;
}
.searchForm {
    line-height: 28px;
    margin-top: 3px;
}
#shoppingcart-button{
    margin-top: 3px;
}
#seller-button {
    margin-top: 3px;
}
.thumbnail-seller {
    height: 0px;
}
.thumbnail .thumbnail-seller a {
    color: #0e0e0f;
}

.thumbnail:hover .thumbnail-seller {
    height: 34px;
}
.thumbnail-ue {
    height: 34px;
}
.thumbnail:hover .thumbnail-ue {
    height: 0px;
    line-height: 0px;
}
.stars-sm{
    font-size: 12px;
    display: none;
}
.thumbnail:hover .stars-sm {
    display: block;
}
.badge-green{
    background-color: #5cb85c;
}
.badge-warning{
    background-color: #fb5d35;
}
.badge-blue {
    background-color: #337ab7;
}
.thumbnail a {
    text-decoration: none;
}
.modal-dialog{
  z-index: 2000;
}