.card-container.card {

}
.signInContainer {
    margin-top: 25px;
}
.signInContainer .btn {
    font-weight: 700;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
.navbar-product {
    top: 45px !important;
}
.navbar-signin {
    top: 60px !important;
    position: fixed;
    z-index: 1028;
    background: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);  
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);

} 

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}


.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.signinForm input[type=email],
.signinForm input[type=password],
.signinForm input[type=text],
.signupForm input[type=email],
.signupForm input[type=password],
.signupForm input[type=text] {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.signinForm input[type=email],
.signinForm input[type=password],
.signinForm input[type=text],
.signinForm button,
.signupForm input[type=email],
.signupForm input[type=password],
.signupForm input[type=text],
.signupForm button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.signupForm .form-control:focus,
.signinForm .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.signInContainer .btn.btn-signin {
    /*background-color: #4d90fe; */
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
}


.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}

.rightButtons-container{
    margin: auto;
    text-align: center;
}


.navbar-signin {
    top: 60px !important;
    position: fixed;
    z-index: 1028;
    background: linear-gradient(to bottom,#fff 0,#f8f8f8 100%);  
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
    width : 100%;
}
.element-navbar-signin:hover {
    cursor: pointer;
}
.element-navbar-signin {
    height: 40px;
    vertical-align: middle;
    color : #c1c1c1;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}
.element-navbar-signin.active {
    color : #000000;
    border-bottom: green 3px solid;
}
.element-navbar-signin-first{
    margin-left: 100px;
}
.social-login-btn {
    margin: 5px;
    width: 20%;
    font-size: 250%;
    padding: 0;
}


.social-google {
    background-color: #da573b;
    border-color: #be5238;
}
.social-google:hover{
    background-color: #be5238;
    border-color: #9b4631;
}

.social-twitter {
    background-color: #1daee3;
    border-color: #3997ba;
}
.social-twitter:hover {
    background-color: #3997ba;
    border-color: #347b95;
}

.social-facebook {
    background-color: #4c699e;
    border-color: #47618d;
}
.social-facebook:hover {
    background-color: #47618d;
    border-color: #3c5173;
}

.social-linkedin {
    background-color: #4875B4;
    border-color: #466b99;
}
.social-linkedin:hover {
    background-color: #466b99;
    border-color: #3b5a7c;
}