<div class="col-md-3 col-sm-4">
    <div class="list-group categories-products">
        <input type="hidden" name="categoriesSelected" id="categoriesSelected" value="[]" />

        <h4 class="list-group-item list-group-item-first title-list filters-top" data-toggle="collapse" data-target="#matieres-cat">UE & Matières<i class="fa fa-bars pull-right"></i></h4>
        <div id="matieres-cat" class="collapsed collapse in">
            {{#each model.categories}}
            <div class="list-group-item" id="toggle_cat_{{this.category.shortName}}">
                <div class="row">
                    <label for="categorie_{{this.category.shortName}}" class="col-md-10 col-sm-9 col-xs-10">
                        <span class="category-name">{{this.category.name}}</span>
                        <span class="small center-block">{{this.category.description}}</span>
                    </label>
                    <label class="col-md-2 col-sm-3 col-xs-2" for="categorie_{{this.category.shortName}}">
                        <span class="badge {{#if this.count}}badge-blue{{else}} badge-grey{{/if}} center-block">{{this.count}}</span>
                        <input type="checkbox" name="categorie_{{this.category.shortName}}" class="categories-products hidden" id="categorie_{{this.category.shortName}}" data-type="category" filter-element data-name="{{this.category.shortName}}"  /> 
                    </label>
                </div>
            </div>
            {{/each}}
        </div>
        <h4 class="list-group-item title-list" data-toggle="collapse" data-target="#matieres-spe-cat">UE Spécifiques<i class="fa fa-bars pull-right"></i></h4>
        <div id="matieres-spe-cat" class="collapsed collapse in">
            {{#each model.categoriesSpecifiques}}
            <div class="list-group-item" id="toggle_cat_{{this.category.shortName}}">
                <div class="row">
                    <label for="categorie_{{this.category.shortName}}" class="col-md-10 col-sm-9 col-xs-10">
                        <span class="category-name">{{this.category.name}}</span>
                        <span class="center-block">{{this.category.description}}</span>
                    </label>
                    <div class="col-md-2 col-sm-3 col-xs-2">
                        <span class="badge {{#if this.count}}badge-blue{{else}} badge-grey{{/if}} center-block">{{this.count}}</span>
                        <input type="checkbox" name="categorie_{{this.category.shortName}}" class="categories-products hidden" id="categorie_{{this.category.shortName}}" data-type="category" filter-element data-name="{{this.category.shortName}}" /> 
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
