<div class="col-md-3 col-sm-4">
    <div class="list-group categories-products">
        <input type="hidden" name="categoriesSelected" value="[]" />

        <h4 class="list-group-item list-group-item-first title-list" data-toggle="collapse" data-target="#matieres-cat">UE & Matières<i class="fa fa-bars pull-right"></i></h4>
        <div id="matieres-cat" class="collapsed collapse in hidden-xs">
            {{#each model.categories}}
            <div class="list-group-item">
                <input type="checkbox" name="categorie_{{this.category.shortName}}" class="categories-products pull-right" id="categorie_{{this.category.shortName}}" data-type="category" filter-element data-name="{{this.category.shortName}}" />
                <label for="categorie_{{this.category.shortName}}">
                    <span class="category-name">{{this.category.name}}</span>
                    <span class="badge {{#if this.count}}badge-green{{/if}}">{{this.count}}</span>
                    <span class="small center-block">{{this.category.description}}</span>
                </label>
            </div>
            {{/each}}
        </div>
        <h4 class="list-group-item title-list" data-toggle="collapse" data-target="#matieres-spe-cat">UE Spécifiques<i class="fa fa-bars pull-right"></i></h4>
        <div id="matieres-spe-cat" class="collapsed collapse in">
            {{#each model.categoriesSpecifiques}}
            <div class="list-group-item">
                <input type="checkbox" name="categorie_{{this.category.shortName}}" class="categories-products pull-right" id="categorie_{{this.category.shortName}}" data-type="category" filter-element data-name="{{this.category.shortName}}" /> 
                <label for="categorie_{{this.category.shortName}}">
                    <span class="category-name">{{this.category.name}}</span>
                    <span class="badge {{#if this.count}}badge-green{{/if}}">{{this.count}}</span>
                    <span class="small center-block">{{this.category.description}}</span>
                </label>
            </div>
            {{/each}}
        </div>
    </div>
</div>
