<div class="col-md-3">
    <div class="list-group categories-products">
        <input type="hidden" name="categoriesSelected" value="[]" />
        <div class="list-group-item">Matières</div>
        {{#each model.categories}}
        <div class="list-group-item">
            <label for="categorie_{{this.category.shortName}}">
                <input type="checkbox" name="categorie_{{this.category.shortName}}" class="categories-products" id="categorie_{{this.category.shortName}}" data-type="category" filter-element data-name="{{this.category.shortName}}" value="0" />
                <span class="category-name">{{this.category.name}}</span>
                <span class="badge pull-right">{{this.count}}</span></label>
        </div>
        {{/each}}
        <div class="list-group-item">Spécifiques</div>
        {{#each model.categoriesSpecifiques}}
        <div class="list-group-item">
            <label for="categorie_{{this.category.shortName}}">
                <input type="checkbox" name="categorie_{{this.category.shortName}}" class="categories-products" id="categorie_{{this.category.shortName}}" data-type="category" filter-element data-name="{{this.category.shortName}}" value="0" /> 
                <span class="category-name">{{this.category.name}}</span>
                <span class="badge pull-right">{{this.count}}</span>
            </label>
        </div>
        {{/each}}
    </div>
</div>
