<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="span6"><p><strong>PACES Store</strong> - par RéussirMaPaces</p></div>
            <div class="span6">  <ul class="footer-links">
                    <li><a href="#">Accueil</a></li>
                    <li class="muted">·</li>
                    <li><a href="#">A propos</a></li>
                    <li class="muted">·</li>
                    <li><a href="#">Contact</a></li>
                    <li class="muted">·</li>
                    <li><div class="btn-group">
                            <button rel="tooltip" title="Suivez-nous sur Twitter" class="btn btn btn-small"><div class="fs1" aria-hidden="true" data-icon="&#xe0e6;"></div></button>
                            <button rel="tooltip" title="Suivez-nous sur Facebook" class="btn btn btn-small"><div class="fs1" aria-hidden="true" data-icon="&#xe0e3;"></div></button>
                            <button rel="tooltip" title="Suivez-nous sur Google+" class="btn btn-small"><div class="fs1" aria-hidden="true" data-icon="&#xe0df;"></div></button>
                        </div></li>
                </ul>
            </div>
        </div>
    </div>
</footer>