<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="span6"><p><strong>&copy; Enjoi</strong> - Travel Deals Theme - Crafted by Themestrap</p></div>
            <div class="span6">  <ul class="footer-links">
                    <li><a href="#">Home</a></li>
                    <li class="muted">·</li>
                    <li><a href="#">About</a></li>
                    <li class="muted">·</li>
                    <li><a href="#">Contact</a></li>
                    <li class="muted">·</li>
                    <li><a href="#">Features</a></li>
                    <li class="muted">·</li>
                    <li><div class="btn-group">
                            <button rel="tooltip" title="Follow us on Twitter" class="btn btn btn-small"><div class="fs1" aria-hidden="true" data-icon="&#xe0e6;"></div></button>
                            <button rel="tooltip" title="Like us on Facebook" class="btn btn btn-small"><div class="fs1" aria-hidden="true" data-icon="&#xe0e3;"></div></button>
                            <button rel="tooltip" title="Share us on Google+" class="btn btn-small"><div class="fs1" aria-hidden="true" data-icon="&#xe0df;"></div></button>
                        </div></li>
                </ul>
            </div>
        </div>
    </div>
</footer>