
<section class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12 well">
                <h2 class="text-center center-block">Qui sommes-nous ?</h2>
                <p class="text-center center-block">
                    Elaboré avec
                    <i class="fa fa-heart"></i>
                    par</p>
                <p class="text-center center-block">
                    <img class="img-responsive center-block" alt="PACES Store" src="http://www.paces-store.fr/landing/img/Logo-RMP-PACES-STORE-COLORED.png" style="max-height: 110px;">
                </p>
            </div>
            <div class="col-md-12"> 
                <p class="text-center">
                    <a href="#">Accueil</a> - 
                    <a href="/about">A propos</a> - 
                    <a href="/contact">Contact</a> 
                </p>
                <p class="text-center">
                    <a href="#" class="btn btn-default" >Twitter <i class="fa fa-twitter"></i></a>
                    <a href="#" class="btn btn-default">Facebook <i class="fa fa-facebook"></i></a>
                    <a href="#" class="btn btn-default" >Google+ <i class="fa fa-google-plus"></i></a>
                </p> 
            </div>
            <div class="col-md-12">
                <p class="text-right small">
                    <strong>PACES Store</strong> - par RéussirMaPaces
                </p>
            </div>
        </div>
    </div>
</section>