<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header col-sm-3 col-md-3">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand text-uppercase" href="/">PACES STORE</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar">
            <div class="col-sm-6 col-md-6">
                <form action="/search/" method="post" name="searchForm" class="searchForm form-inline" >
                    <div class="form-group">
                        <select id="universitySelector" class="selectpicker show-tick" data-style="btn-primary">
                            <option value="{{model.currentSchool.universityId}}" selected>{{model.currentSchool.name}}</option>
                            {{#each model.otherSchools}}
                            <option value="{{this.universityId}}">{{this.name}} </option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" name="searchText" class="input" id="searchText" data-provide="typeahead" placeholder="Tout le contenu..." {{#if model.previousSearch}} value="{{model.previousSearch}}" {{/if}} data-items="4" />
                    </div>
                    <button id="submitSearch" type="button" class="btn btn-success"> <i class="glyphicon glyphicon-search"></i></button>
                </form>
            </div>
            <ul class="nav navbar-nav navbar-right col-sm-3 col-md-3">
                <li>
                    <a href="#contact">Espace vendeur</a>
                </li>
                <li>
                    <a class="text-alert text-muted btn-circle" href="/shoppingcart/">Mon panier (<span id="cart-number-products">0</span>)</a>
                </li>
            </ul>
        </div>
    </div>
</nav>